{% extends 'base.html' %}
{% load static %}

{% block title %}
Eliminar Producto
{% endblock %}

{% block content %}
<main id="main" class="main">
    <section class="section dashboard">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card custom-card">
                        <div class="card-body">
                            <h1 class="card-title text-center mb-4">Eliminar Producto</h1>
                            <p class="text-center">¿Estás seguro de que deseas eliminar el producto "{{ producto.nombre }}"?</p>
                            <form method="post" action="{% url 'eliminar_productos' producto.id %}">
                                {% csrf_token %}
                                
                                <!-- Botones -->
                                <div class="text-center mt-4">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                    <a href="{% url 'listar_productos' %}" class="btn btn-warning ms-2">Cancelar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}
