{% extends 'base.html' %}
{% load static %}

{% block title %}
<title>Listado de Productos</title>
{% endblock %}

{% block content %}
<main id="main" class="main">
    <section class="section dashboard">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card custom-card">
                        <div class="card-body">
                            <h1 class="card-title text-center">Listado de Productos</h1>
                            {% for message in messages %}
                            <div class="alert alert-success alert-dismissible fade show" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                            {% endfor %}
                            {% if user.rol.nombre != 'Comercio' and user.rol.nombre != 'Persona' %}
                            <a href="{% url 'crear_productos' %}" class="btn btn-success btn-round ml-auto">
                                <i class="fa fa-plus"></i>&nbsp;Insertar </a>
                            {% endif %}
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                        <tr align="center">
                                            <th>Nombre</th>
                                            <th>Color</th>
                                            <th>Talle</th>
                                            <th>Cantidad Disponible</th>
                                            <th>Precio</th>
                                            <th>Opciones</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for producto in productos %}
                                        <tr align="center">
                                            <td>{{ producto.nombre }}</td>
                                            <td>{{ producto.color }}</td>
                                            <td>{{ producto.talle }}</td>
                                            <td>{{ producto.cantidad_disponible }}</td>
                                            <td>{{ producto.precio }}</td>
                                            <td>
                                                {% if user.rol.nombre == 'Comercio' %}
                                                <a href="{% url 'compra_comercio' producto.id %}"
                                                    class="btn btn-success btn-sm">Solicitar</a>
                                                {% elif user.rol.nombre == 'Persona' %}
                                                <a href="{% url 'compra_persona' producto.id %}"
                                                    class="btn btn-success btn-sm">Solicitar</a>
                                                {% endif %}
                                                {% if user.rol.nombre != 'Comercio' and user.rol.nombre != 'Persona' %}
                                                <a href="{% url 'editar_productos' producto.id %}"
                                                    class="btn btn-primary btn-sm"> <i class="bi bi-pencil"></i></a>
                                                <!-- Botón que activa el modal para eliminar -->
                                                <button type="button" class="btn btn-danger btn-sm" data-toggle="modal"
                                                    data-target="#confirmDeleteModal-{{producto.id }}">
                                                    <i class="bi bi-trash"></i>
                                                </button>
                                                {% endif %}
                                                <!-- Botón para ver detalles -->
                                                <button type="button" class="btn btn-info btn-sm" data-toggle="modal"
                                                    data-target="#productDetailsModal-{{ producto.id }}"><i
                                                    class="bi bi-eye"></i>                                                    
                                                </button>
                                               
                                                
                                                <!-- Modal de eliminación -->
                                                <div class="modal fade" id="confirmDeleteModal-{{ producto.id }}"
                                                    tabindex="-1" role="dialog"
                                                    aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="confirmDeleteModalLabel">
                                                                    Confirmar Eliminación</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                ¿Estás seguro de que deseas eliminar el producto
                                                                "<strong>{{ producto.nombre }}</strong>"?
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">
                                                                    Cancelar
                                                                </button>
                                                                <form
                                                                    action="{% url 'eliminar_productos' producto.id %}"
                                                                    method="post">
                                                                    {% csrf_token %}
                                                                    <input type="submit" class="btn btn-danger"
                                                                        value="Eliminar" />
                                                                </form>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <!-- Modal de detalles del producto -->
                                                <div class="modal fade" id="productDetailsModal-{{ producto.id }}"
                                                    tabindex="-1" role="dialog" aria-labelledby="productDetailsModalLabel"
                                                    aria-hidden="true">
                                                    <div class="modal-dialog" role="document">
                                                        <div class="modal-content">
                                                            <div class="modal-header">
                                                                <h5 class="modal-title" id="productDetailsModalLabel">
                                                                    Detalles del Producto: {{ producto.nombre }}</h5>
                                                                <button type="button" class="close" data-dismiss="modal"
                                                                    aria-label="Close">
                                                                    <span aria-hidden="true">&times;</span>
                                                                </button>
                                                            </div>
                                                            <div class="modal-body">
                                                                <strong>Nombre:</strong> {{ producto.nombre }}<br>
                                                                <strong>Color:</strong> {{ producto.color }}<br>
                                                                <strong>Talle:</strong> {{ producto.talle }}<br>
                                                                <strong>Cantidad Disponible:</strong> {{ producto.cantidad_disponible }}<br>
                                                                <strong>Precio:</strong> {{ producto.precio }}<br>                                                               
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="button" class="btn btn-secondary"
                                                                    data-dismiss="modal">
                                                                    Cerrar
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Asegúrate de que tienes los scripts de Bootstrap y jQuery incluidos en tu base.html -->
{% block extra_js %}
<script>
    $(document).ready(function () {
        // Este bloque puede ser útil si necesitas añadir alguna funcionalidad extra al modal
    });
</script>
{% endblock %}
{% endblock %}
