{% extends 'base.html' %}
{% load static %}

{% block title %}
Eliminar Modelo
{% endblock %}
{% block content %}
<main id="main" class="main">
    <section class="section dashboard">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="card custom-card">
                        <div class="card-body">
                            <h1 class="card-title text-center mb-4">Eliminar Modelo</h1>
                            <p>¿Estás seguro de que deseas eliminar modelo"{{ modelos.nombre }}"?</p>
                            <form method="post">
                                {% csrf_token %}
                                <div class="text-center">
                                    <button type="submit" class="btn btn-danger">Eliminar</button>
                                    <a href="{% url 'listar_modelos' %}" class="btn btn-secondary">Cancelar</a>
                                </div>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}