{% extends 'base.html' %}
{% load static %}

{% block title %}
Crear Tienda Movil
{% endblock %}
{% block content %}
<main id="main" class="main">
    <section class="section dashboard">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <div class="card custom-card">
                        <div class="card-body">
                            <h1 class="card-title text-center mb-4">Crear Tienda Movil</h1>
                            <form method="post">
                                {% csrf_token %}
                                <!-- Campo: Nombre -->
                                <div class="mb-3">
                                    <label for="id_nombre" class="form-label">Nombre de la Tienda:</label>
                                    <input id="id_nombre" type="text" class="form-control" name="nombre" maxlength="100"
                                        required>
                                </div>
                                <!-- Campo:Encargado -->
                                <div class="mb-3">
                                    <label for="id_encargado" class="form-label">Encargado:</label>
                                    <select id="id_encargado" class="form-control" name="encargado" required>
                                        <option value="" selected disabled>Selecciona un encargado</option>
                                        {% for encargado in encargados %}
                                        <option value="{{ encargado.id }}">{{ encargado.nombre }}</option>
                                        {% endfor %}
                                    </select>
                                </div>
                                <!-- Campo: Marca -->
                                <div class="mb-3">
                                    <label for="id_marca" class="form-label">Marca:</label>
                                    <input id="id_marca" type="text" class="form-control" name="marca" maxlength="100"
                                        required>
                                </div>

                                <!-- Campo: Modelo -->
                                <div class="mb-3">
                                    <label for="id_modelo" class="form-label">Modelo:</label>
                                    <input id="id_modelo" type="text" class="form-control" name="modelo" step="0.01"
                                        required>
                                </div>
                                <!-- Campo: Matricula-->
                                <div class="mb-3">
                                    <label for="id_matricula" class="form-label">Matricula:</label>
                                    <input id="id_matricula" type="text" class="form-control" name="matricula"
                                        step="0.01" required>
                                </div>

                                <!-- Botones -->
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary ms-2">Guardar</button>
                                    <a href="{% url 'listar_tiendamovil' %}" class="btn btn-warning ms-2">Regresar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
{% endblock %}