{% extends 'base.html' %}
<!DOCTYPE html>
<html lang="es">

<head> {% block head %} {{block.super}} {% endblock %} </head>

<body>
    <header>{% block header %} {{block.super}} {% endblock %} </header>
    {% block content %}
    <div class="container py-4">
        <div class="card bg-light mx-auto" style="max-width: 400px;">
            <div class="card-header">
                <h2 align="center">Editar Tienda</h2>
            </div>
            <div class="card-body">
                <form method="post" action="{% url 'editar_tiendas' form.instance.pk %}">
                    {% csrf_token %}
                    {{form.as_p }}
                    <div class="form-group text-center">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                        <a href="{% url 'listar_tiendas' %}" class="btn btn-warning m1-2">Regresar</a>
                    </div>
                </form>
            </div>
        </div>
        {% endblock %}
        <footer>{% block footer %} {{block.super}} {% endblock %} </footer>
</body>

</html>